@import "tailwindcss";

@theme {
  --color-sunshine: #7a6200;       /* Base color */
  --color-sunshine-light: #9c7e00; /* Untuk hover */
  --color-sunshine-50: #fdfbe6;    /* Untuk background tipis */

  --shadow-glow: 0 0 15px rgba(122, 98, 0, 0.3);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-gold-shimmer {
    background: linear-gradient(
      to right,
      #FFE169 20%,
      #ffffff 50%,
      #FFE169 80%
    );
    background-size: 200% auto;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 4s linear infinite;
  }
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}